
/*********** tag select********************************************************/
body{
  background-color:#AEF6F6;
}
hr{
    border-style: dashed;
    height:0;
    color:grey;
    width: 6% ;

}


img{
  height: 200px;
  width: 200px;
  background: grey;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
/*******************pseudo Class - based on the behavior of the elements ***/
img:hover{
  background:red;
}
h3:hover{
  color: lightblue
}
/***************** class selector :*********************************************/
.profile{
  border-radius: 100%;

}
